#j1{
	font-family: verdana;
    font-size: 20px;
    color: red;
    width: 60%;
	margin: auto;
	padding: 25px 0;


}

#j2 {
	font-family: verdana;
    font-size: 20px;
    color: red ;
    width: 60%;
	margin: auto;
	padding: 25px 0;

}
#j3 {
	font-family: verdana;
    font-size: 20px;
    color: red ;
    width: 60%;
	margin: auto;
	padding: 25px 0;

}
#j4 {
	font-family: verdana;
    font-size: 20px;
    color: red ;
    width: 60%;
	margin: auto;
	padding: 25px 0;

}

#j5 {
	font-family: verdana;
    font-size: 20px;
    color: red ;
    width: 60%;
	margin: auto;
	padding: 25px 0;

}

h1 {
	color:red;
	padding: 25px;
	text-align: center;
	font-size: 20px;
	      
}

body {
	background-color: black;
}