body {
	background-color: black;
	color: red;
}

.title {
	text-align: center;
	font-size: 3em;
	}

.main-content {
	margin-top: 10%;
	text-align: center;
	padding-bottom: 5%;
	box-shadow: 0 15px 20px -14px;
}

.field {
	border: none;
}

label, input {
	margin: 4px;
}

.ben-pic {
	text-align: left;
}

form {
	text-align: center;
	box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, .8);
}

.contact {
	margin-top: 8%;
}